.wherefore {
    padding: 80px 0;
    &__title {
        margin: 0;
        font-family: "Gotham-Bold";
        @include font-size(40, 30);
        color: var(--red-color);
        text-transform: uppercase;
        margin-bottom: 20px;
        span {
            font-family: "Gotham-Light";
            @include font-size(40, 30);
            font-weight: 300;
            color: var(--red-color);
            text-transform: uppercase;
        }
    }
    &__row {
        margin-top: 60px;
        justify-content: space-between;
        @media (max-width: 792px) {
            justify-content: center;
            gap: 40px;
        }
    }
    &__row-item {
        font-family: "Gotham-Book";
        @include font-size(18, 15);
        font-weight: 400;
        letter-spacing: normal;
        line-height: 30px;
        color: var(--dark-color);
    }
}